h1 {
    color: darkblue;
    text-align: center;
}

h2 {
    color: darkgreen;
}

header {
    text-align: center;
}

nav {
    text-align: left;
}

a {
    color: blue;
}

p {
    font-size: 16px;
}

button {
    background-color: darkblue;
    color: white;
}

footer {
    text-align: center;
    color: gray;
}